.form-container {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 44px;
  width: 100%;
  height: 588px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #101828;
  margin: 0;
  margin-bottom: 8px;
}

.subtitle {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6c717b;
  margin: 0;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.input,
.textarea {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #6c717b;
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 12px;
  background-color: #f7f7f7;
  font-size: 16px;
  outline: none;
  color: #101828;
  max-width: 515px;
}
.input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.textarea {
  height: 118px;
  resize: none;
}

.submit-btn {
  margin: auto auto 0;
  padding: 16px 60px;
  background-color: #e44848;
  color: white;
  border: none;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #d84343;
}
