.home {
  background-image: url("/Picture.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding: 0 64px;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.h1-text {
  margin: 0;
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1;
  color: #f7f7f7;
}

.p-text {
  margin: 0;
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #f7f7f7;
}

.btn {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 56px;
  padding: 16px 60px;
  background: #e44848;
  border-radius: 200px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background: #d84343;
}
