.card {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  background-color: #ffffff;
  width: 840px;
  height: 320px;
}

.image-container {
  position: relative;
  width: 290px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f2f4f7;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 65% center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.name {
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #101828;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 340px;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: #101828;
  margin: 0;
}

.favorite-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon {
  fill: #101828;
  transition: all 0.3s ease;
}

.favorite-btn.active .heart-icon {
  fill: #e44848;
}

.stats {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.rating {
  text-decoration: underline;
}

.star-icon {
  fill: #ffc531;
}

.map-icon {
  fill: #101828;
}

.description {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #475467;
  margin: 0 0 24px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 520px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.badge {
  font-family: var(--font-inter), sans-serif;
  line-height: 24px;
  text-align: center;
  padding: 12px 18px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}

.more-btn {
  width: 166px;
  height: 56px;
  background-color: #e44848;
  color: #ffffff;
  border: none;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.more-btn:hover {
  background-color: #d84343;
}
