.container {
  display: flex;
  flex-direction: column;
  gap: 44px;
  border-radius: 10px;
  padding: 44px;
  width: 631px;
  height: 588px;
  background: #f7f7f7;
  box-sizing: border-box;
}

.badges-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  border-radius: 100px;
  font-family: var(--font-inter), sans-serif;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  text-transform: capitalize;
}

.badge-fill {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  border-radius: 100px;
  font-family: var(--font-inter), sans-serif;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  text-transform: capitalize;
  fill: none;
  stroke: #101828;
}

.details-section {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-inter), sans-serif;
  line-height: 24px;
  font-weight: 600;
  font-size: 20px;
  color: #101828;
  margin: 0;
  margin-bottom: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px solid #dadde1;
  margin-bottom: 24px;
  display: block;
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0;
  margin: 0;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #101828;
}

.value {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #101828;
  text-transform: capitalize;
}

.detail-item span:first-child {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #101828;
  color: #101828;
}
